/*background color*/
body{
    color: greenyellow;
    font-family: 'Pixelop', sans-serif;
    background-color:rgb(58, 69, 73);
    background-repeat:repeat;
    background-size:150px;
    background-image: url('background/diagonal-stripes.svg');
    cursor: url('cursors/alien.gif'), auto;
}

/*<p> font stuff */


@font-face {
  font-family: 'Pixelop';
  src: url('Fonts/PixelOperator.woff') format('woff'),
      url('Fonts/PixelaryOperator.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelary';
  src: url('fonts/PixelaryRegular.woff') format('woff'),
    url('fonts/PixelaryRegular.woff2') format('woff2')
}

p {
    white-space: normal;
    font-size: 30px;
    font-family:'Pixelop' sans-serif;
}
small{
    font-size:10px;
}
a{
    color:darkcyan;
    font-size: 16px;
    text-decoration: none;
}

h1, h2, h3 {
  size: 30px;
  color:greenyellow;
  text-shadow:greenyellow;
  font-family: 'Pixelop', serif;
}

@keyframes flash {
  0% { color: red}
  50% {color: rgb(98, 40, 40)}
  100% { color:red}
}

.warn{
  animation: flash 1s linear infinite;
}

/* Images */

.logo{
margin-left: 580px;
padding-top: 60px;
}

.watermark{
  
  margin-left: 230px;
  height: 80px;
  width: auto;
}

.trangle{
  float: left;
  height: 50px;
  width: auto;
}
.trangle2{
  float: right;
  height: 50px;
  width: auto;
}
/* This entire subsection is me testing floatercode for fun soz future me */
/*.image {
  width: 50px;
  height: 50px;
  background-image: url('Icons/warning.ico');
  position: absolute;
  bottom: 0;
  left: 200;
  animation: fly-up 60s linear infinite;
}

.image1 { left: 90%; }
.image2 { right:80%;}
.image3 { left: 20%;}
.image4 { right: 30%;}

@keyframes fly-up {
  0% {
      bottom: 0;
  }
  0% {
      left: 900;
  }
  100% {
      bottom: 200vh;
  }
}*/

/* Item Box Code */
.info {
  float: left;
  margin-left: 20;
  margin-top: 50;
  padding-right: 40;
  width: 350px;
  height: 610px;
  border: 2px solid;
  background-color:rgb(65, 85, 94);
}
.mainbox {
  white-space: break-spaces;
  text-align: center;
  overflow: scroll;
  margin-left: 500;
  padding left: 20;
  padding-right: 40;
  width: 950px;
  height: 870px;
  border: 2px solid;
  background-color:#304e41;
}

.warnbox {
  word-wrap: break-word;
  text-align: match-parent;
  overflow: auto;
  margin-left: 50;
  padding-left: 15px;
  padding-right: 15px;
  width: 850px;
  height: 400px;
  border: 2px solid;
  background-color:#304e41;
}


/* Bottom Page Navbar*/
.navbar {
  background-color: hsl(0, 0%, 20%);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #00c3ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #16e8be;
  color: black;
}

.navbar a.active {
  background-color: #304e41;
  color: rgb(132, 200, 83);
}

/* buttons */
.button {
  background-color: hsl(0, 0%, 20%);
  border: none;
  color: rgb(13, 142, 69);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Interactable/Button Code */



/*.border-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/blankwindow.png);
  background-repeat: repeat;
  box-sizing: border-box;
  padding: 10px; 
}*/

/*img {
  display: block;
  width: 32%;
  height: 45%;
}*/

/*
.topbar {
    background-color: #184d49;
    color: #fff;
    height: 50px;
  }
  
  .topbar-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    display: flex;
    align-items: center;
    text-align:center;
    height: 100%;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 300px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }*/
  
/*
#scrollToTopButton {
    display: none; /* Hide the button by default add thing later
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #scrollToTopButton:hover {
    background-color: #555;
  }*/
  