/*background color, font family*/
body{
    background-color:rgb(58, 69, 73);
    background-repeat:repeat;
    background-size:150px;
    background-image: url('diagonal-stripes.svg');
}
/*Background SVG file*/
.element {
  background-image: url('diagonal-stripes.svg');
  /* Other background properties */
}

/*Header <h1> color*/
h1 {
    color:cyan;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*<p> font stuff */

.glowing-text{
    animation: glow-animation 1s infinite;
}

@keyframes glow-animation {
  0% {
    text-shadow: 0 0 5px #940000, 0 0 5px #940000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #940000, 0 0 5px #940000;
  }
  50% {
    text-shadow: 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000;
  }
  100% {
    text-shadow: 0 0 5px #940000, 0 0 5px #940000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #940000, 0 0 5px #940000;
  }
}

p {
  color:#020a2e;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
small{
    font-size:10px;
}

b{
    color:rgb(56, 170, 199);
}

i{
    color:rgb(0, 0, 0);
}

a{
    color:darkcyan;
    font-size: 16px;
    text-decoration: none;
}
a:visited{
    color:darkblue;
}
a:hover{
    text-shadow:10px;
    color:aquamarine;
}
/*border boxes */
.image-container {
  position: relative;
}

/*.border-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/blankwindow.png);
  background-repeat: repeat;
  box-sizing: border-box;
  padding: 10px; 
}*/

/*img {
  display: block;
  width: 32%;
  height: 45%;
}*/

/*
.topbar {
    background-color: #184d49;
    color: #fff;
    height: 50px;
  }
  
  .topbar-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    display: flex;
    align-items: center;
    text-align:center;
    height: 100%;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 300px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }*/
  
/*
#scrollToTopButton {
    display: none; /* Hide the button by default add thing later
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #scrollToTopButton:hover {
    background-color: #555;
  }*/